<!-- header.component.html -->
<header class="header">
    <nav class="nav">      
      <a routerLink="/home" routerLinkActive="!router-link-active" class="nav-link">Home</a>
      <a routerLink="/get" routerLinkActive="router-link-active" class="nav-link">Get</a>
      <a routerLink="/post" routerLinkActive="router-link-active" class="nav-link">Post</a>
      <a routerLink="/delete" routerLinkActive="router-link-active" class="nav-link">Delete</a>      
      <a routerLink="/users" routerLinkActive="router-link-active" class="nav-link">Users</a>    
      <a routerLink="/todo" routerLinkActive="router-link-active" class="nav-link">Todo</a>  
      <a routerLink="/resume" routerLinkActive="router-link-active" class="nav-link">Resume</a>
      <a routerLink="/timer" routerLinkActive="router-link-active" class="nav-link">Timer</a>

    </nav>
  </header>