
<div *ngIf="!data" class="loading-container">
  <div class="spinner"></div>
</div>

<div *ngIf="data" class="coupon-wrapper">
  <h2 class="title">🎟️ Available Coupons</h2>
  <table class="coupon-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Discount</th>
        <th>Min. Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coupon of data.result">
        <td>{{ coupon.couponId }}</td>
        <td>{{ coupon.couponCode }}</td>
        <td>{{ coupon.discountAmount }}%</td>
        <td>₹{{ coupon.minAmount }}</td>
      </tr>
    </tbody>
  </table>
</div>
